.hero {
	width: 100%;
	height: 40vh;
	background-image: url('https://wallpapercave.com/wp/wp1822735.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

@media screen and (min-width: 1024px) {
	.hero {
		height: 50vh;
	}
}

::-webkit-scrollbar {
	width: 11px;
}

::-webkit-scrollbar-track {
	background: --body-bg;
}

::-webkit-scrollbar-thumb {
	background: #70a821;
	border-radius: 6px;
}
